@font-face {
    font-family: 'Junicode';
    src: url('../fonts/junicode-regular-webfont.eot');
    src: url('../fonts/junicode-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junicode.woff') format('woff'),
         url('../fonts/Junicode.ttf') format('truetype'),
         url('../fonts/junicode-regular-webfont.svg#JunicodeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
     font-family: junicode, gentium, caslon roman, serif; 
}